[2017-05-25 18:50] cprussin opened #1 "Test all the things!"
Add first round of unit/integration tests.

[2017-05-25 18:50] cprussin opened #2 "Make Route a typeclass instead of a data constructor"
Currently `Route` is a data constructor, and routes are created like:

[code]

A better API would be to have `Route` be a typeclass and have each HTTP method implement that typeclass, or construct routes something like:

[code]

[2017-05-25 18:50] cprussin opened #3 "Implement before/after middleware"
We should have the ability to run middleware before or after the routes are executed.

[2017-05-25 18:50] cprussin opened #4 "Implement full routing"
Currently, routing only matches exact strings.  We should implement parameters, optional segments, etc.--we should support what express.js supports.

[2017-05-25 19:01] cprussin opened #5 "Abstract node-http so it can be swapped"
In the interest of centralizing dependencies and preparing to be able to be native-compiled, we should centralize and abstract `purescript-node-http` uses so that it can be easy to swap out http backends when necessary.

[2017-05-25 19:02] cprussin opened #6 "Wrap all node-http methods"
`purescript-node-http` has a large surface area, and much of the functionality is currently unavailable through `purescript-httpure`.  We should ensure that all functionality available through `purescript-node-http` is exposed somewhere in `purescript-httpure`.

[2017-05-25 19:02] cprussin opened #7 "Implement HTTPS"
Currently, we only have HTTP support.  We should add HTTPS support.

[2017-05-25 19:02] cprussin opened #8 "Write quick start guide / examples"

[2017-05-25 19:03] cprussin opened #9 "Native compile"
https://github.com/andyarvanitis/purescript-native

[2017-05-25 19:19] cprussin opened #10 "Ensure formatting follows purescript convention"
Some places in the codebase don't follow purescript style convention.  That should be cleaned up.

[2017-05-25 19:20] #10 closed

[2017-05-25 19:30] cprussin opened #12 "Add travis configuration"

[2017-05-25 19:41] cprussin opened #13 "Add release guide/process"

[2017-05-26 03:35] #12 closed

[2017-05-26 03:37] cprussin opened #17 "Add quick start in README.md"

[2017-05-26 16:27] cprussin opened #18 "Add performance tests / benchmarks"

[2017-07-10 10:02] cprussin commented on #17
Fixed in https://github.com/cprussin/purescript-httpure/pull/19

[2017-07-10 10:02] #17 closed

[2017-07-10 10:02] cprussin commented on #1
Fixed in https://github.com/cprussin/purescript-httpure/pull/19

[2017-07-10 10:02] #1 closed

[2017-07-10 10:02] cprussin commented on #8
Fixed in https://github.com/cprussin/purescript-httpure/pull/19

[2017-07-10 10:02] #8 closed

[2017-07-10 10:08] cprussin commented on #2
Done in https://github.com/cprussin/purescript-httpure/pull/19

[2017-07-10 10:08] #2 closed

[2017-07-10 19:28] cprussin opened #22 "Add support for writing headers and status"
The fields are already expected of all routes but are not actually written out currently.

[2017-07-10 19:39] #13 closed

[2017-07-10 19:40] cprussin commented on #3
This is not a very functional approach, so closing this as a wontfix.

[2017-07-10 19:40] #3 closed

[2017-07-14 06:48] cprussin commented on #4
Done in https://github.com/cprussin/purescript-httpure/pull/24

[2017-07-14 06:48] #4 closed

[2017-07-14 06:51] cprussin opened #28 "Complete all response statuses"

[2017-07-14 06:52] cprussin opened #29 "Complete all request methods"

[2017-07-14 06:58] cprussin opened #30 "Add support for reading headers"

[2017-07-17 23:42] #22 closed

[2017-07-17 23:42] cprussin opened #33 "Add support for reading body"

[2017-07-18 02:08] #30 closed

[2017-07-18 05:25] #33 closed

[2017-07-18 06:42] cprussin opened #39 "Add post example"

[2017-07-18 06:43] cprussin opened #40 "Add more response status codes"

[2017-07-19 05:21] #29 closed

[2017-07-19 05:23] cprussin commented on #5
This doesn't really make sense with the new architecture, and if necessary, will be tackled while implementing native compile. Closing

[2017-07-19 05:23] #5 closed

[2017-07-19 05:24] cprussin commented on #40
Duplicate of #28

[2017-07-19 05:24] #40 closed

[2017-07-19 05:24] cprussin commented on #6
This doesn't really make sense with the new architecture. Closing.

[2017-07-19 05:24] #6 closed

[2017-07-19 17:41] cprussin opened #48 "Handle exception thrown by `Stream.onDataString` and ST effect used by `Body.read`"
Currently the execption propagates through the stack.  HTTPure should be exception-free, so we should handle this.

[2017-07-19 19:00] #28 closed

[2017-07-23 19:17] #7 closed

[2017-07-26 21:52] cprussin opened #57 "Separate SecureServerM from ServerM"
`ServerM` (and `HTTPureM`) has no need for the `FS` effect.  It's only there for reading the key and cert files for secure servers.  It would be better to have a `SecureServerM` type separated from the `ServerM` type, which pulls in the `FS` effect.

[2017-08-02 04:15] cprussin opened #58 "Use upstream `purescript-node-http`"

[2017-08-02 04:43] #58 closed

[2017-08-02 04:58] #57 closed

[2017-08-05 01:33] cprussin opened #62 "ResponseM should be async"

[2017-08-05 01:34] cprussin opened #63 "Implement chunked requests"
Must support HTTP 1.1 chunking

[2017-08-05 01:34] cprussin opened #64 "Add middleware example"

[2017-08-05 01:39] cprussin opened #65 "Add guides"
- [x] Routing
- [x] Writing middleware

[2017-08-05 01:41] cprussin opened #66 "Add tooling for working with query parameters and path segments"

[2017-09-26 07:14] #66 closed

[2017-09-27 13:55] #62 closed

[2017-09-27 19:34] #64 closed

[2017-09-27 20:02] cprussin opened #74 "Create show instances for path and query (and maybe request?)"

[2017-09-28 00:47] cprussin opened #75 "Create Headers.header function to create a singleton Headers"

[2017-09-28 03:01] cprussin opened #76 "Make query parameters and headers use Maybe type instead of defaulting to "true" and using empty string for nonexistent parameters (and update guides)"

[2017-09-29 13:58] cprussin opened #77 "Make weird pattern around response and response' consistent with response helpers"

[2017-09-29 14:25] #75 closed

[2017-09-29 15:38] #77 closed

[2017-09-29 16:55] #74 closed

[2017-10-12 17:39] cprussin opened #82 "Add HTTP/2 Support"

[2017-10-12 17:39] cprussin opened #83 "Determine if we want websockets support"
This may or may not be something we want to do.  Express supports websockets, but I'm not convinced that HTTPure _should_--WS is a very different protocol than HTTP or HTTP/2 and I'm not sure that HTTPure should cater to those differences.

Likely some other framework should be implemented outside HTTPure to support websockets in PureScript, but this ticket remains open as an investigation until w

[2017-10-23 22:51] #76 closed

[2017-10-26 01:03] #65 closed

[2018-07-08 20:01] akheron opened #90 "Support PureSctript 0.12"

[2018-07-08 23:16] #90 closed

[2018-07-08 23:17] cprussin commented on #48
No longer necessary thanks to https://github.com/cprussin/purescript-httpure/pull/89.  Thanks @akheron!

[2018-07-08 23:17] #48 closed

[2018-07-11 05:12] cprussin opened #92 "Add Content-Length header"
We should be calculating the Content-Length header based on the size of the response.

[2018-07-11 05:21] akheron opened #94 "Re-export Response in top-level HTTPure module"
Currently only `ResponseM` is re-exported, but `Response` is not.

[2018-07-11 06:07] #94 closed

[2018-08-08 04:02] akheron opened #96 "Re-export Query and Status"
`Query` and `Status` are missing in the top-level HTTPure module.

[2018-08-08 04:32] #96 closed

[2018-08-09 04:44] akheron opened #98 "Support binary response body"
Serving e.g. image data is not currently possible because response body is always a UTF-8 encoded string.

[2018-08-18 18:25] akheron opened #101 "Content-Length header is wrong for non-ASCII bodies"
When computing the value for the Content-Length header, `String.length` is used. This is not correct for non-ASCII strings, as each character gets encoded to two or more bytes in UTF-8. For example, when using the string `"äö"` as the response body, there's `Content-Length: 2` but the content is actually 4 bytes long.

[2018-08-20 02:50] #98 closed

[2018-08-20 02:50] cprussin opened #102 "Add `sendFile` helper"
Should take a path, automatically read and buffer the file, and automatically set the `Content-Type` response header.

[2018-08-20 03:03] cprussin commented on #101
:+1: very good catch.  I'm not sure what the best way is to solve this... I guess I could do `Buffer.fromString >>= Buffer.size`

[2018-08-20 04:17] akheron commented on #101
The `byteLength` function doesn't seem to be very hard to implement in PS either, so I'd go there right away.

[2018-08-20 04:27] akheron commented on #102
... and eventually using the `sendfile` system call would of course be the most performant option. Not sure if it's possible in NodeJS.

[2018-08-20 06:43] cprussin commented on #101
I'm not so concerned about whether it's hard as I am concerned that it's nontrivial and isn't logic that really belongs in an http library--and I don't even have any proof that it's truly faster than the trivial approach. If it is faster, would it be better to put it in something like `Data.String`?

[2018-08-20 20:32] cprussin commented on #102
Great, as for using `sendfile` we can dig into what express does here and do the same thing, I feel confident enough that express is heavily optimized around here since it's been doing this on a massive scale for a long time, and we can port anything over that we need to.

So, a few things here:

1) I feel like `Data.MediaType` should enumerate all the possible media types with data constructors,

[2018-08-21 01:58] garyb commented on #102
Hey! Yeah, I can totally understand the desire for that. I originally wanted to do something cleverer for media types - and there's still definitely room for improvement, but an exhaustive enumeration is pretty much out of the question. There is something in the region of 2000 media types registered with IANA: https://www.iana.org/assignments/media-types/media-types.xhtml, and applications can oft

[2018-08-21 04:14] akheron commented on #101
You're right. Let's do it the easy way first.

[2018-08-21 04:16] akheron commented on #102
No problem, I'm also a father an know exactly what you're talking about :)

I actually played a bit with streaming responses yesterday and might be able to whip up something myself.

[2018-08-22 03:14] cprussin commented on #102
@garyb what about a programatically generated module that uses the table in the reference you sent?  Obviously I don't think anything in any PS module should maintain the media type enumeration manually, but if IANA already does so it shouldn't be so hard to use it to generate a purescript module to turn them into data constructors no?  For custom media types, we can just have a data constructor t

[2018-08-25 04:49] #101 closed

[2018-08-25 07:19] cprussin opened #105 "Add a better API for setting the content type"

[2018-08-26 04:25] cprussin commented on #102
Yeah, I think you're right that the mime type enumeration probably wouldn't be useful in this context.  I do think it could be useful in other contexts, for instance, providing a cleaner API for setting a `Content-Type` header... but probably not in this context.

I don't think the extension mapping is quite enough.  What about magic file data?

[2018-08-26 05:38] cprussin commented on #102
Idea: using the patterns added in https://github.com/cprussin/purescript-httpure/pull/104, we could create a newtype around `String` called e.g. `File`, and create typeclass instances for `Streamable` and `Body`.  Then there would be no need for a specific helper for sending files and it could just be done something like:

[code]

(Note we can't use `FilePath` from https://github.com/purescript-no

[2018-08-26 21:56] cprussin opened #106 "Update guides"
Go through guides and update based on changes since the last release, and double check that all examples are still accurate

[2018-08-28 04:12] akheron commented on #102
What to do if the file doesn't exist?

[2018-08-28 05:45] cprussin commented on #102
Hmm good point, ok so back to a helper it is...

[2018-08-28 19:35] cprussin opened #108 "Implement chunked callback API"
See thread [here](https://github.com/cprussin/purescript-httpure/pull/107#discussion_r213094130)

[2018-09-02 18:30] cprussin opened #109 "Better error handling"
We need better sad-path handling.  Things like:

- [ ] Request closed by client while in flight
- [ ] Exception while running router
- [ ] Others?

[2018-09-02 19:25] cprussin commented on #102
@akheron could use a sounding wall for something that came up while I was working on this.

So, essentially, I was thinking about how to do error handling.  Problem is, with a stream, you don't know that the error has occurred until the `error` event has been dispatched.  This event won't be dispatched until running the body function, that is, `Body.write` in the `Body` typeclass.

So we need some

[2018-09-02 19:40] cprussin opened #110 "Provide a way to stop serving"
This will also significantly simplify the example code, as it will allow us to reuse the same port for all examples

[2018-09-02 19:40] cprussin opened #111 "Investigate `forkAff`"
I believe that we should be using `forkAff` when running the router.  We should investigate implications of doing that.

[2018-09-02 21:06] #110 closed

[2018-09-04 02:02] cprussin opened #113 "Convert most usage of `Foreign.Object` to `Map`"
Most usage of `Foreign.Object` should be using `Map` from https://github.com/purescript/purescript-ordered-collections instead of using `Foreign.Object`.    Current usage is for query parameters and headers.

[2018-09-04 04:27] cprussin opened #114 "Add a more ergonomic API around path segment matching"
## The Problem

The current API for matching path segments is entirely built around the `Lookup` typeclass.  This works, but it can get clunky for  some common things.  For example, you can do this:

[code]

But that will send _any_ request whose first segment is `"something"` to `somethingRoute`.  Likely the intent is to only send the request to `somethingRoute` if it has _exactly one_ segment, w

[2018-09-04 04:28] cprussin commented on #114
@akheron I've put a lot of thought into this issue, I'm not quite convinced on the proposed solution and would love to get feedback/ideas, so if you have any to give, it would be much appreciated!

[2018-09-04 05:08] akheron commented on #114
I've used array pattern matching to accomplish good ergonomics, and I think it's the way to go. It solves matching the path and capturing parameters at the same time.

Matching path only:
[code]

Matching path and method:
[code]

[2018-09-04 05:33] cprussin commented on #114
That's what I was originally leaning towards, but I started thinking more along the lines of the express API, because working on array pattern matching is somewhat limited in a few ways.  Specifically:

1. We can't match on specific ID shapes (`/todos/\d{4}-\d{6}`--contrived but a lot of use cases do build IDs that have specific shapes).
2. We can't deal in variable-length segments.  For instance,

[2018-09-04 05:51] cprussin commented on #114
Oh, and one other problem with array pattern matching: you can't do case-insensitive matches.  That isn't a big issue for something like a REST API, but it's a non-started for something that serves, e.g., a UI, where addresses are entered by users into address bars in browsers.  HTTPure should be able to cater to both use cases.

[2018-09-05 09:06] akheron commented on #114
The thing I like most in HTTPure is that the serve takes a function that processes all requests. The user is free to implement routing, request handlers, middleware etc. in any way he sees fit. However, providing helpers for common use cases (e.g. routing) would be a big plus, so that each user doesn't have to reinvent the wheel.

I suggest figuring out the best way to create composable routers, w

[2018-09-05 09:07] akheron commented on #111
What would you like to achieve by using `forkAff`?

[2018-09-05 09:11] cprussin commented on #111
Because `forkAff` causes the `Aff` to be non-blocking, it may help improve concurrency.  For instance, if a particular route requires reading a file or going to a database, I think without using `forkAff` we'll be blocking the main thread rather than concurrently handling requests.

[2018-09-05 10:42] akheron commented on #111
In the context of `forkAff`, being non-blocking means that the code lexically following `forkAff` continues to run even if the `Aff` computation didn't finish yet (didn't call the success or error callback yet).

Reading from a database is in a different "layer", in the sense that NodeJS will continue serving new requests concurrently even if one request handler is waiting for database (or any oth

[2018-09-05 16:38] paluh commented on #114
Hi,

I'm not sure if I should add any comments as I'm not a contributor but barely a user (we have just started to build a service around httpure)... but anyway here are my to cents:

I really like clean API which is provided by this framework and I think that advanced/opinionated routing options should be delegated to external libraries like: purescript-routing, purescript-routing-duplex, purescr

[2018-09-05 17:38] cprussin commented on #114
Folks, the feedback here is _really_ helpful, thank you both for leaving those opinions @akheron and @paluh .  You guys have convinced me, there are enough tools out there that can be used and the simplicity of HTTPure is valuable.  I'll close this ticket as something that doesn't need to happen.

I do think before we go to 1.0 it would be nice to do a better job documenting some common patterns a

[2018-09-05 17:38] #114 closed

[2018-09-05 17:43] cprussin commented on #111
Ah, ok, that's a good explanation, thanks.  I was worried that without using it we could be blocking further calls to `Server.handleRequest`, but I guess that given the nature of Node under the hood that wouldn't really make sense.  Thanks for taking the time to write it up!

[2018-09-05 17:43] #111 closed

[2018-09-11 19:26] cprussin opened #115 "Revisit typeclass interface decision for `Body`"
Continuation of discussion started [here](https://github.com/cprussin/purescript-httpure/pull/104#issuecomment-419585619).

@paluh had raised some concerns that perhaps using a typeclass for `Body` is not the best decision, and we would be better served by making a `Record` interface something like:

[code]

Where we left of is that I'm not entirely convinced that typeclasses aren't the right deci

[2018-09-21 13:39] paluh opened #117 "Keep correct ordering of chunks when building a body value"
Hi,

It seems that there is a subtle bug in `body` buildup function where chunks are accumulated.

Current handler which processes single incoming chunk calls multiple functions internally before it appends result to the `body` value (we have `Ref.modify` and its callback, `void` and multiple calls inside `Stream.onDataString`):

https://github.com/cprussin/purescript-httpure/blob/master/src/HTTPu

[2018-09-21 15:02] cprussin commented on #117
Interesting bug!  It seems like this should be fixable without resorting to FFI no?  If there's no fix outside FFI, then I believe that the FFI portion and purescript binding should be part of [purescript-node-buffer](https://github.com/purescript-node/purescript-node-buffer) instead since it sounds like a bug caused by the binding itself.  Other than that, the way you have it fixed makes sense, t

[2018-09-21 15:05] cprussin commented on #117
For what it's worth, I've had it in the back of my mind to revisit this for some time.  I'd like to support streaming requests (#63) so likely we'll end up getting rid of this as being the default and expose it as a helper instead.  The fix will still need to go in the helper of course, so still worth fixing here.

[2018-09-23 18:44] cprussin commented on #117
@paluh any chance you've been able to put more thought into this one?  If there's any reason we can't get the FFI binding in -node-buffer, I'm happy to accept a PR to put one in httpure temporarily, at least so that httpure isn't buggy.

[2018-09-24 09:36] paluh commented on #117
Hi @cprussin ,

Yeah, I thought a bit about this during my offline weekend ;-)

I'm not sure if I'm able to propose any serious and reasonable API change / improvement for `-node-buffer` at the moment...

I'm going to provide it today evening (around 20:00 - 22:00 09-24 CEST). Should I leave`aggregateChunk` like it is in `Body.purs` or move it to some `Utils/Node/Stream.purs`  submodule?

[2018-09-24 20:58] cprussin commented on #117
Woot, thanks @paluh!  Much appreciated!

At the very least, I think we should open the discussion in the form of a issue on `-node-buffer`.  We can defer to the folks most familiar with the `-node-buffer` package to help us come up with the correct solution, but I certainly think long term this problem should be solved by that package, not this one, so we should start the discussion.  I'd just pre

[2018-09-24 21:06] paluh commented on #117
Ok, I'm going to open an issue under `-node-buffer` and use our case from `HTTPure`.

[2018-09-24 23:36] cprussin commented on #117
No problem, it's all open source :) I'm happy to weigh in as I can, but tbh it doesn't really make sense to me how this could be happening (node shouldn't interrupt a synchronous call stack) and I haven't been able to repro so I'm not so sure how to advist

[2018-09-24 23:55] cprussin opened #120 "Replace uses of Ref with StateT instead"
Our `Ref` uses (`Body.read` and `TestHelpers.toBuffer`) could and should be more safely written using `StateT` instead.

[2018-09-25 01:36] #117 closed

[2018-09-25 01:37] cprussin opened #122 "Add unit test to exercise https://github.com/cprussin/purescript-httpure/issues/117"
We had an expensive bug caused by incorrect concatenation code.  The concatenation code was untested for multiple chunks, or it would have been caught earlier.  We should add a unit test.

[2018-10-09 10:38] akheron commented on #120
I don't think this is possible at least with the callback based approach in the places where `Ref` is currently used. I'm not sure if it would be possible to use `Aff`, and would `StateT` be applicable then.

[2018-10-27 02:06] rnons opened #124 "unable to see any error message"
Hi, I'm trying to use httpure to write a simple backend. It's a bit strange when an error is thrown, there is no way to see it. I have a reproducible example: https://github.com/rnons/play-with-httpure/blob/error/src/Main.purs#L13

`curl http://127.0.0.1:8080` get
[code]
 Open http://127.0.0.1:8080 in browser get
[code]

In the terminal where I run `node server.js`, there is nothing. There is no e

[2018-10-27 02:50] cprussin commented on #124
Yeah, I'm tracking this with https://github.com/cprussin/purescript-httpure/issues/109, we currently don't have any handling for errors at all.  I've wanted to give the API more thought than just log the errors to the console--ideally I'd like to make the API catch errors and force consumers to write an error handler, possibly defaulting to returning a 500.  Any ideas here would be much appreciate

[2018-10-27 02:50] #124 closed

[2018-10-27 02:52] cprussin commented on #109
@rnons provided an example; quoting here:

[code]

[code]

[2018-10-27 02:53] cprussin commented on #124
By the way, I'd be happy to accept a PR to just log the error out for now if you want to submit one, with the understanding that eventually we'll do something better about it.

[2018-10-27 04:47] akheron commented on #109
We currently transform uncaught JavaScript exceptions to a 500 without any error message. Would it be better to crash the server and print the traceback to console? Would this direct users to catch errors themselves, or to use quality libraries that don't let uncaught exceptions through?

[2018-10-27 04:57] akheron commented on #124
As described here, throwing JavaScript exceptions isn't a good way to implement control flow with ’Aff’: https://github.com/slamdata/purescript-aff/issues/136#issuecomment-356814485

If you want to implement a control flow with errors, the best way currently is `ExceptT`.

[2018-10-27 04:57] cprussin commented on #109
@akheron I would prefer to come up with some modification to the httpure api which forces users to handle uncaught exceptions in routes. I don't think there's a way to guarantee routes themselves are exception free now that there's no row type for `Effect`, so I think the best approach is the always assume any route could throw and make httpure consumers tell us what to do in that case.

[2018-10-27 05:04] akheron commented on #109
It's not possible to ensure that JavaScript exceptions have been caught on type level. There's a plan to do something about this in `Aff`: https://github.com/slamdata/purescript-aff/issues/137

[2018-10-27 05:07] akheron commented on #109
... and because it's not possible on type level, I don't really see a way to enforce this other than crashing the server.

It seems to me that if the aforementioned change was made to `Aff`, uncaught JavaScript exceptions would more or less crash the computation. You'd have to use supervise to catch them and do something, but that wouldn't still be visible on the type level.

[2018-10-27 16:17] cprussin commented on #109
So what I had in mind was that we would just catch all exceptions and pass them off to a user-defined handler; so essentially we would force users to write the exception handler.

But the more I think about it, the more I think you're right: if there's no enforcement on the type level, then users are no better suited to handle exceptions than we are.  The fact is, if an exception occurs, the syste

[2018-10-27 16:18] cprussin commented on #124
@akheron fwiw I think the example there was just to illustrate httpure's lack of exception handling; not an example of what should be done with `Aff`

[2018-10-31 04:53] akheron opened #126 "URL decode query params"
Query params from `request.query` are not urldecoded and the user has to do this by hand.

For example, with query string `?foo=bar%20baz`, `request.query !! "foo"` returns `Just "bar%20baz"`, whereas I think `Just "bar baz"` would be more appropriate.

[2018-10-31 04:54] akheron opened #127 "Empty query param value"
I find it quite confusing (although it's documented) that when the query string contains an empty value for some param, the value for that param is `"true"`:

[code]

I would find it more logical to return an empty string in this case:

[code]

[2018-10-31 16:22] cprussin commented on #127
Yeah, I agree with this, it is confusing.  It should be fixed.

For historical context: this came from the days before I understood fundeps and so the `Lookup` typeclass wasn't so robust, so doing something like `query !! "foo" == Nothing` would not be resolvable by the compiler without added type hints.  This is actually why `Lookup.at` exists.  Now that the fundep is there, we can probably clean

[2018-10-31 16:23] cprussin commented on #126
:+1: I'm 100% on board with this change, should be reasonably simple as well

[2018-11-06 17:45] #126 closed

[2018-11-06 17:45] #127 closed

[2018-12-19 17:26] cprussin opened #130 "Expose original request URL"
We currently expose `fullPath` as a logging method, but this is constructed from the HTTPure request parts object and while it should be equivalent to the original request URL from a routing perspective, it isn't identical.  We should expose a way of getting the full original request URL from the request.

[2018-12-21 18:32] cprussin opened #131 "Extend apis of low level serve functions to accept parser configuration"
Per @paluh in #129:

[2019-02-26 23:48] justinwoo opened #132 "Console is missing as a dependency"
https://github.com/cprussin/purescript-httpure/blob/fe2e3f5f6de170002e23df6979561b1a59ab6660/src/HTTPure/Server.purs#L14

This breaks package set validation. Please add this to your bower.json and publish a patch version.

[2019-02-27 01:26] cprussin commented on #132
Ah will do. Don't know how I missed that, I thought the package set validation succeeded. Is there something I missed?

[2019-02-27 06:19] cprussin commented on #132
Fixed in v0.8.1

[2019-02-27 06:19] #132 closed

[2019-02-27 06:37] justinwoo commented on #132
Thanks. I was pulling the latest version and that failed. This can be normally validated on bower with bower i -p (production) first, followed by then using normal bower i to install test dependencies

[2019-02-27 07:11] cprussin commented on #132
Aha, so something got installed into devDependencies instead of dependencies. That helps. I thought this was a psc-package.json issue. Thanks for that added context!

[2019-03-22 00:40] cprussin commented on #102
Having given some thought to this, I think this is best done as a contrib module and not part of the httpure core.  I'm going to close this ticket and will plan to publish a contrib module when I get time that will include the helper.

[2019-03-22 00:40] #102 closed

[2019-03-22 00:41] cprussin commented on #105
Having put some thought into this, I no longer think this is necessary in the httpure core and is something that could likely be exposed by contrib modules instead, which is the plan I'm currently taking (as with #102 )

[2019-03-22 00:41] #105 closed

[2019-04-21 09:44] Dretch opened #134 "Discussion / feature-request: allow using a monad other than Aff with HTTPure.serve"
I have just converted my app to use `monad-logger` and as a result I have replaced `Aff a` with `LoggerT Aff a` in many places in the codebase.

`HTTPure.serve` is a bit awkward here because it requires that the request handling function return `Aff a`. This means that the `LoggerT Aff a` to `Aff a` transformation has to be done inside the request handling function by using `runLoggerT`. It might

[2019-04-21 19:16] cprussin commented on #134
Yeah, I've actually been thinking about that quite a bit recently.  I think the best approach here would be to replace the `Aff` with a `forall a. MonadAff a`.  I just haven't really prioritized the change yet for the following reasons:

1) It's not entirely trivial in HTTPure, would require some not-insignificant amount of work to refactor everything.

2) In my apps, I find I generally end up usi

[2019-04-21 19:19] cprussin commented on #134
As an aside, even if we decide that we don't want to change HTTPure's API after all, I would at the very least really like to polish up the code above and drop it into an example to guide folks for how to use httpure with mtl stacks, and especially how to use a per-request mtl stack.

[2019-04-23 16:50] joneshf opened #135 "Add HTTP version to `Request`"
The HTTP version is [available][httpVersion] on `Node.HTTP.Request`. It would be nice if we could have it available on `HTTPure.Request` as well.

[httpVersion]: https://pursuit.purescript.org/packages/purescript-node-http/5.0.0/docs/Node.HTTP#v:httpVersion

[2019-04-23 17:11] joneshf opened #136 "`lookup` for `Headers` is not intuitive"
It would seem there's an issue with the casing for `Headers`. The current behavior is:
[code]
But, it seems like the behavior should be:
[code]

Seems like the issue is the [`Lookup` instance][instance]. As discussed in Slack, probably easiest to use [`Data.String.CaseInsensitiveString`][CI] (at least internally).

[CI]: https://pursuit.purescript.org/packages/purescript-strings/4.0.1/docs/Data.St

[2019-04-23 17:46] Dretch commented on #134
Thanks @cprussin, that is helpful.

In my case, I want to use the same logger everywhere, so I ended up with something like this:

[code]

[2019-04-24 15:11] joneshf commented on #136
Looks like `Headers` is a newtype around `Object String`, so using `CaseInsensitiveString` is out.

I guess there are some options:
1. "Fix" the bug with the current implementation.
    Looks like we'd want to lowercase both `header` and `headers` so values going in would be lowercase. It wouldn't really fix the underlying issue as the constructor is exposed and there's a `Newtype` instance; peopl

[2019-04-24 21:55] cprussin commented on #136
I lean towards option #3, see #113 as I've wanted to remove the use of `Foreign.Object` for some time and never got around to it.

I think the only reason `Foreign.Object` is being used is in some olden times, these objects were passed in through the Node APIs more directly than they are now.  But now, the `Headers.write` function just traverses the headers data so there isn't a compelling reason

[2019-04-26 03:14] cprussin opened #139 "Remove `newtype` for `Headers`"
`Headers` was originally written as a newtype so that it could have a case insensitive `Lookup` instance without clashing with the default `Object` instance.  But since #138 changed `Headers` to a `Map CaseInsensitiveString String`, there's no real value of the newtype any more other than custom `Show` and `Semigroup` instances.  The `Show` instance could be replaced with another function name sin

[2019-05-17 16:31] joneshf opened #140 "How to handle `Expect: 100-continue`?"
I'm trying to handle [`Expect`][] headers and I'm unsure if it's possible with `httpure`:

   request-line and a complete header section that contains a
   100-continue expectation and indicates a request message body will
   follow, either send an immediate response with a final status code,
   if that status can be determined by examining just the request-line
   and header fields, or send an im

[2019-05-18 00:00] davezuch commented on #136
@cprussin any chance of a new release with this fix soon?

[2019-05-21 05:22] cprussin commented on #140
Hmm, so I expect (heh, see what I did there?) that this would be covered by implementing streaming requests (see #63).  I keep bumping that because I haven't really thought of an API that I particularly like, but I'm open to ideas.

Out of curiosity, what's the priority here?  Is it mostly to be spec-compliant?  I definitely think that this is something we should ideally support, but as it's a som

[2019-05-21 06:57] cprussin commented on #136
@davezuch so sorry, I meant to release after this merged and then went on vacation and only just returned.

Published [v0.8.2](https://github.com/cprussin/purescript-httpure/releases/tag/v0.8.2)

[2019-05-21 06:57] #136 closed

[2019-05-21 09:13] joneshf commented on #140
Hmm, streaming the request does seem like it might help deal with this. More than happy to put in some work once an API is settled.

It is spec-compliance–as I'm wanting to build something on top of `httpure`–but it's not quite that obscure. For instance, if you `curl` something larger than 1024 bytes, it sends an `Expect: 100-continue` header and acts accordingly. So long as the underlying node i

[2019-05-21 09:24] joneshf commented on #136
Thanks for the release!

I think the changes made were breaking though (at least, it makes some of my code not type anymore). Any chance we could get a 0.9.0 release? Maybe also delete the 0.8.2 tag? I dunno how you feel about removing tags that already exist.

[2019-05-22 02:58] cprussin commented on #136
@joneshf I'm surprised that anything in here is breaking, are you relying on any internals in your code?  Can you be more specific about what's breaking?

Regardless, I'm actually not really worried about the versioning scheme, because semver specifies that any releases below 1.0.0 may be (though I have tried to stick to minor versions for breaking changes and patch versions for non-breaking).

Th

[2019-06-21 14:31] paluh commented on #130
I've just dropped `fullPath` and added original URL to the `Request.Request`. If you agree with this changes I can create a PR:

https://github.com/cprussin/purescript-httpure/compare/master...paluh:fullPath

[2019-06-21 14:33] paluh commented on #130
P.S.
Oh, sorry I've commit there also `shell.nix` changes so if you agree with this direction I'm going to cleanup this branch before PR ;-)

[2019-06-21 17:03] cprussin commented on #130
So, I like the idea of adding access to `HTTP.requestURL`, but I'm not sure I like dropping `fullPath` entirely... it isn't completely equivalent to `HTTP.requestURL` and I would find the original `fullPath` also valuable for logging since it indicates what HTTPure matched (although maybe that can be solved batter by instead just having a log formatter that logs the components of the `Request` in

[2019-07-12 19:35] cprussin commented on #134
@Dretch just wondering, after some time has passed, do you have an opinion on if this should be an API change in HTTPure vs just a pattern that's documented somewhere?

[2019-07-12 19:39] #135 closed

[2019-07-13 17:39] Dretch commented on #134
Hi @cprussin, I wish I could give you some insights, but I have barely touched any code using HTTPure since I made this issue, so I have not developed any opinions. Sorry!

[2019-07-31 19:04] cprussin opened #143 "Upgrade dependencies"
HTTPure does not work with the latest & greatest dependencies (including purescript).  We should upgrade (thanks @Dretch for pointing it out!)

[2019-08-02 20:07] JordanMartinez opened #144 "Expose request path and query to enable custom route parsing?"
I really like the UX of [purescript-routing-duplex](https://github.com/natefaubion/purescript-routing-duplex). I was wondering whether this project would be interested in exposing the full path (including queries) in the request and move the current Lookup approach to its own module as a default route parser, so that the end-user could use their own route parser to properly handle things (like `pu

[2019-08-02 20:19] cprussin commented on #144
I'm not opposed to a PR to add the full path, but I don't see any reason this would supersede or motivate removing the `Lookup` typeclass (which is useful for both routing and computing responses).

@paluh has started implementing this (see https://github.com/cprussin/purescript-httpure/issues/130) but never put in a PR; if you wanted to wrap that up and put in a PR for it I'd be more than happy t

[2019-08-02 20:24] JordanMartinez commented on #144
Oh, I don't mean remove lookup. I agree that that should stay. I meant move
it to its own module (which might already be the case).

[2019-08-02 20:28] cprussin commented on #144
Yeah, lookup is implemented as a pretty simple typeclass (see https://github.com/cprussin/purescript-httpure/blob/master/src/HTTPure/Lookup.purs)

[2019-08-02 21:07] cprussin commented on #144
FWIW httpure doesn't really have a "router"--httpure just parses the incoming request and takes a function that uses that parsed object to come up with a response.  It's just that out of the box, basic purescript pattern matching on the parsed data structure is pretty sufficient for most simple routing.  Even if you used an external router, you'd probably want the parsed request to be able to resp

[2019-08-03 00:32] JordanMartinez commented on #144
Ok, thanks for clarifying that. For context, I've also been looking at `purescript-trout`, `hyper`, and `purescript-hypertrout` as I look at options for a PS server.

[2019-08-03 01:32] cprussin commented on #144
You might be better off with something like hyper/trout if you want more batteries out of the box.

HTTPure is intended to be a pretty bare bones mapping of the HTTP spec into PureScript.  There is a type for each part of an HTTP request & response; an incoming request is parsed into the relevant types and run through your router function, which returns an HTTPure response.  HTTPure then writes th

[2019-08-03 13:45] JordanMartinez commented on #144
Ok. I'll look at hyper then. Should I close this issue?

[2019-08-03 18:33] #144 closed

[2019-09-14 16:44] drewolson opened #146 "Should functions on `Response` return `MonadAff m => m Response`"
I'm curious if functions within `HTTPure.Response` should return `MonadAff m => m Response` rather than `ResponseM` (which is an `Aff Response`).

For example, `ok` would change from:

[code]
to:

[code]

This would allow users working within a monad stack to use `HTTPure.ok` directly rather than `liftAff $ HTTPure.ok`.

Thoughts?

[2019-09-16 03:39] cprussin commented on #146
Yeah, I think that makes sense.  I think this could be done in a non-breaking way so it doesn't introduce some of the concerns I had in #134 , but it does make it a bit easier to use transformer stacks.

[2019-09-23 20:14] #143 closed

[2019-09-30 03:57] #146 closed

[2019-11-08 15:03] easafe opened #151 "Persist mutable state between requests"
This might be simple, but I can't find an easy way/example. What's the recommended approach to modify server state from within the request handler function? For example, a global count of requests per URL.

 `serve` has type `Int -> (Request -> ResponseM) -> Effect Unit -> ServerM` so it doesn't seem like it is possible to share the monad stack/effects.

[2019-11-08 15:06] JordanMartinez commented on #151
You'd have to use a `Ref` and not the state monad.

[2019-11-08 15:18] easafe commented on #151
I thought about that @JordanMartinez. But it seemed like such a common use case, I wondered if I was missing a more "pure" way to do it.

[2019-11-08 16:07] JordanMartinez commented on #151
Since the state monad is just a boilerplate-free way to thread immutable pure state through a computation...
[code]

So, if you wrote a handler that uses the state monad, the problem is with the initial state value. Each time a request is made, the same initial state would be used in the resulting state monad computation. Using a counter as an example, the initial count would always start at 0 and

[2019-11-09 04:23] cprussin commented on #151
Currently, I don't think there would be any way to use something like a `StateT` monad to thread mutable server state into your router.  But as @JordanMartinez mentions, you can certainly use a Ref.

I'm not opposed to thinking about ways to make one of those other monad transformerss usable for this kind of situation (which would probably match the solution for #134).  That said, I typically stru

[2019-11-09 10:22] easafe commented on #151
@cprussin would you say the remarks about [exceptions](https://www.fpcomplete.com/blog/2016/11/exceptions-best-practices-haskell) apply to PureScript as well?

[2019-12-08 19:15] joneshf commented on #136
Sorry, I thought I responded to this. Will do so for posterity, even though multiple versions have been released since `0.8.2`.

---

`HTTPure.Headers.Headers` was a newtype over `Foreign.Object.Object String`, then it became  a newtype over `Data.Map.Map Data.String.CaseInsensitive.CaseInsensitiveString String`. That's the breaking change. Code that was working against the `Foreign.Object.Object

[2019-12-08 19:20] cprussin commented on #136
Got it, thanks for posting. Yes, the intention is to work with headers without unwrapping, but as you're pointing out there are certainly things you can't currently do without unwrapping. Regardless, it's fair to say that even if those existed, changing an exported type is breaking.

In any case, apologies for the semver abuse and thank you for pointing this out!

[2019-12-08 20:41] joneshf commented on #136
No worries. It wasn't that big of an issue, but forgot to follow-up on it.

Would you want to do something about working without unwrapping? We can move to a separate issue if that's better.

[2019-12-08 23:06] cprussin commented on #136
@joneshf honestly I hadn't put too much thought into it, I just had this general feeling that you shouldn't have to unwrap HTTPure newtypes in application code.  I'd say if it feels important to anyone, let's go ahead and move to another ticket.

[2020-02-25 21:23] henry-mueller opened #153 "default `serve` binds to `localhost` (resulting in "connection refused" errors)"
Issue:

Using the `serve` function with \ as shown in most any example newer versions of node.js (v13.2 in my case) will bind to `localhost:[your port]`.  This will work fine for all straight local development, but will not work as soon as you deploy in any way (for example, as soon as you put your app in a Docker container).  You will get "connection refused" error when you make a request.

I am

[2020-02-25 21:31] cprussin commented on #153
If I'm understanding correctly the fix would be just changing line https://github.com/cprussin/purescript-httpure/blob/master/src/HTTPure/Server.purs#L84 to point to '0.0.0.0' instead of 'localhost', is that accurate?

I'm all for that change, the intention of the `serve` function was to "do the right thing" for most use cases, which I think is to bind to 0.0.0.0.

[2020-02-26 01:38] henry-mueller commented on #153
In my opinion, yes.  I don't think there is any common production case for binding to `localhost`.  I only doubt myself because apparently no one else has run into this yet?  But as long as it is documented, any choice is defensible.

Thanks for following up!  I'll commit to doing a PR for whichever choice you take.

[2020-02-27 00:39] cprussin commented on #151
wow this is a very late reply but somehow I missed your message @easafe .  Yes I think the same logic for exceptions applies to purescript since the `Effect` monad in purescript has the same exception contract as `IO` (that is, anything running in it has an implicit assumption that it could throw an exception).

[2020-02-27 00:44] cprussin commented on #153
@henry-mueller Fixed in https://github.com/cprussin/purescript-httpure/pull/154.

Is this something you need a release for or can you wait until whenever the next release goes out?

[2020-02-27 00:44] #153 closed

[2020-02-27 02:26] henry-mueller commented on #153
No rush, using the `serve'` is no problem at all.

[2020-03-09 10:09] paluh commented on #130
What do you think about just adding `url` into the `Request` (`requestURL` name sounds a bit redundant in this context :-)) type:

https://github.com/cprussin/purescript-httpure/compare/master...paluh:add-request-url

[2020-03-09 14:15] cprussin commented on #130
LGTM... open up a PR and I'll merge!

[2020-03-09 14:43] paluh commented on #130
Cool! Done: https://github.com/cprussin/purescript-httpure/pull/155 ;-)

[2020-03-09 15:34] #130 closed

[2020-05-11 14:40] Kamirus opened #157 "Allow multiple SetCookie headers in response"
The current implementation does not allow setting more than one cookie. Only one SetCookie header is allowed in response.

Is this behaviour intended? Or am I missing something?

[2020-05-11 19:02] cprussin commented on #157
Hmm yeah, it does look like that's a limitation.  You could combine the Set-Cookies into a single header (http://tools.ietf.org/html/rfc2109), although I'm not sure if that syntax is accepted by enough user agents for your use case.

Probably we should change the `Headers` newtype to map to an array of strings instead of a single string: https://github.com/cprussin/purescript-httpure/blob/master/s

[2020-05-26 05:04] #151 closed

[2020-06-15 09:53] paluh commented on #157
This seems like the best approach I think. The PS node binding API is prepared for this:

https://github.com/purescript-node/purescript-node-http/blob/v5.0.2/src/Node/HTTP.purs#L94

[2020-06-15 10:01] paluh commented on #157
The question remains if we really want to use `Map` here. `Foreign.Object` could be more consistent and efficient in some scenarios with the underling node API:

https://nodejs.org/api/http.html#http_response_getheaders

I'm not sure how _nodejs_ and _js_ agnostic this lib tries to be... but from my perspective it would be cool if we could stay in this one realm and cover it well.

[2020-06-15 10:26] paluh opened #158 "Make `Status` a bit more safe and signature friendly"
I love simplicity and efficiency of the current `Status` representation. I wonder if we want to add a tiny layer of typing around it (so we have readable signatures):

[code]

[2020-06-15 10:28] paluh commented on #158
or we can also achieve something similar with `newtype`...

[2020-06-15 10:37] paluh commented on #157
Regarding `Foreign.Object` we have efficient, single allocation way to build them in PS:

[code]
There is also a possiblity to use [a fast builder](https://github.com/purescript/purescript-foreign-object/issues/14) in such a scenario.

[2020-06-15 10:54] paluh opened #159 "Change `Method` representation to something more like `Status`"
I'm not sure if we gain anything by providing custom type for `Method` and doing its parsing for every request - it results in a linear time + one additional allocation.

We can switch to a simple `newtype` around `String` or use `foreign` approach or just leave it `String` with predefined set of values, like it is done in the `Status` module.

[2020-06-15 10:58] paluh commented on #157
P.S. I've just found this: https://github.com/cprussin/purescript-httpure/issues/113 so probably `Map` to `Object` switch won't happen or... we can still discuss what are the main design goals for this library.

[2020-06-26 12:04] paluh commented on #157
@cprussin

I'm not sure how we should really type headers as we have somewhat strange situation where request headers should be `String` value with a single exception:

https://nodejs.org/api/http.html#http_message_headers

On the other hand response header can be easily defined multiple times:

 https://nodejs.org/api/http.html#http_response_setheader_name_value

This leads to somewhat inconvenie

[2020-06-26 12:17] paluh commented on #157
Additionally it seems that PS bindings don't really care about this special case and provide flat `String` based API for request headers:

[code]
Taking this into account maybe in the case of our `HTTPure.Request` there is no value in wrapping everything in `Map` and every single value in a `NonEmptyArray` just to preserve consistency of the `Headers` type between request and response (because the

[2020-06-26 12:25] paluh commented on #157
In general single `Set-Cookie` is a huge blocker in a real life and as [pointed here](https://stackoverflow.com/a/2880070/194614) setting multiple values for set-cookie values in a single header is not recommended:

[2020-06-26 17:09] cprussin commented on #157
Yeah, we should definitely come up with a fix here.

I don't love the idea of replacing `headers` on the `Request` with `getHeader`, since there are totally valid use cases for looking at the headers as an entire set.  My proposal would be to stop using `message.headers` from Node and instead use `message.rawHeaders`: https://nodejs.org/api/http.html#http_message_rawheaders.  Then we could easily

[2020-06-26 17:11] cprussin commented on #157
Also, with regards to using `Object`: my preference is not to.  Ideally I'd like the HTTPure API to be platform-agnostic--it's a stretch but it would be great to eventually be able to support running HTTPure on other purescript backends besides just node.  That was most of my thinking behind preferring `Map` over `Object`.

Additionally, although probably weaker reasoning, I just think the `Map` t

[2020-06-26 18:35] paluh commented on #157
A the beginning I want to emphasis that I really appreciate your work and I'm quite happy _HTTPure_ user :-)

Let me summarize how it looks from my limited perspective (Of course I have mainly our use cases in mind where we want to gain from the nodejs performance as much as we can using PS):

* If we use `Object` as a representation of `Headers` we don't need any additional type in the case of a

[2020-06-26 19:53] cprussin commented on #157
I'd like to separate discussions around ergonomics from those around performance.  I don't trust theories around what _should_ be more or less performant without actual measurements, and I think to be able to select what's worth benchmarking we need to start from the API we'd ideally want, assuming we can make it fast enough to be acceptable (for instance, I'm very dubious to make decisions based

[2020-06-26 19:56] cprussin commented on #157
To be clear: I am very willing to sacrifice some amount (the exact amount to be defied) of performance for the sake of more ergonomic and clear APIs (if your goal is absolute maximal performance then the only way is to bind directly to the Node APIs anyways, anything that wraps those APIs comes with added overhead and presumably the only reason to pay that overhead is in order to expose more pleas

[2020-06-26 19:57] cprussin commented on #157
One more note, based on these last two comments, where I'd like to start is:

1) Some idea of acceptable performance (comparative benchmarks against other frameworks maybe???)

2) Some idea of what we believe is the most pleasant API to interact with here

And then we can see if #2 can fit into #1.  If not, we can iterate.

[2020-06-29 11:16] paluh commented on #157
I'm afraid that I don't like this approach that in general we shouldn't care about CPU cycles per request till we don't introduce something really bad which is reflected in all benchmarks. Do we really have so many spare CPU cycles when using _PS_ + _nodejs_?
Folding array, building tuples and wrapping values in `NonEmptyArray` to build this final `Map` has clearly allocation and CPU overhead per

[2020-06-29 19:02] cprussin commented on #157
I didn't at all say that we should _ignore_ performance.  I said that making tradeoffs that sacrifice the ergonomics of the pbublic API to support assumed theoretical performance benefits with no benchmarks and no concept of acceptable performance is not useful.  For one, without actual measurements, claims about theoretical performance are dubious at best.  For two, if you only care to absolutely

[2020-06-29 19:05] cprussin commented on #157
I'm curious to look into what http frameworks in Haskell do for header types too, IMO that's a better example to follow than the low-level Node bindings.

[2020-06-29 19:07] cprussin commented on #157
This thread also brings up another interesting point, which is that currently HTTPure doesn't give you any escape hatches to resort back to low-level bindings for custom use cases or opinions that diverge from what the library does.  Should we?

[2020-06-29 22:04] cprussin commented on #157
@paluh and I spoke offline to come up with a solution.  He's going to put in a PR for the following changes:

1. We're going to split up the `RequestHeaders` and `ResponseHeaders` types.
2. `RequestHeaders` will be a `newtype` around `Object` and will be populated by using the `purescript-node-http` `getHeaders` binding.
3. `ResponseHeaders` will become a `Map CaseInsensitiveString (NonEmptyArray

[2020-06-29 23:26] paluh commented on #157
It seems fine. Thanks!

[2020-10-19 17:15] cscalfani opened #164 "Pursuit is not up to date with 0.10.0"
The change to `notFound` from `0.9.0`, the latest documented version, to `0.10.0` really threw me for a loop. It's a good change.

Having the docs up to date would've saved me and I suspect others similar confusion.

Thank you.

[2020-11-14 17:33] tmciver opened #165 "Utils.replacePlus Only Replaces the First Occurrence"
The function `HTTPure.Utils.replacePlus` only replaces the first occurrence of '+':

[2020-11-14 21:09] cprussin commented on #165
Thanks for reporting and fixing @tmciver !

[2020-11-14 21:09] #165 closed

[2021-03-08 07:30] joneshf commented on #153
It's way after the fact, but we ran into this when setting up `purescript-httpure` at work a couple years back. @cprussin helped out on Slack (explaining that we should use `0.0.0.0` instead of `localhost`). So, there's other people that have run into this problem, but I imagine that conversation is lost to the Slack paywall by now.

[2021-03-08 10:58] paluh commented on #153
@henry-mueller actually there are cases (like any reverse proxy setup etc.) and I strongly prefer "safe" default which would be "localhost / 127.0.0.1" and not "expose me everywhere - 0.0.0.0" setup. This hides node app from any public host interfaces.

[2021-04-29 23:06] davezuch commented on #157
Was any progress ever made on this?

[2021-04-30 03:47] cprussin commented on #157
@davezuch Unfortunately no, PRs welcome but in the meantime I haven't had a chance to work on this yet.

[2021-06-24 07:44] wclr opened #175 "Body write doesn't wait for async finish?"
If I get it right this Aff actually doesn't wait for the finish of writing and ending the stream, is it intentional?
[code]

[2021-06-24 20:34] cprussin commented on #175
Hmm that's a good point.  I'm not sure it really matters due to the way that's threaded into the underlying Node http server, although for sure it's probably semantically incorrect.  Is it causing any specific problems or did you just see that the code looked strange?

I'd totally be happy to accept a PR to fix it if you wanted to submit one!

[2021-06-25 13:19] wclr commented on #175
I don't think that it might cause an issue with the current workflow, the node internally handles the stuff so you may call `end` before the last `write` is finished it will end it up first. So If there is no async error/result handling assumed this will work out fine.

That's right.

[2021-06-25 17:52] cprussin commented on #175
@wclr Fixed in #176 .  Let me know if you see any urgent need to cut a version with the fix, and thanks for pointing it out!

[2021-06-25 17:58] #175 closed

[2021-06-25 23:28] cprussin commented on #164
Ah somehow I missed this, iirc there was some issue that prevented publishing to pursuit for some time so some versions don't have docs posted, but that was fixed some time ago and so at least the last few releases are there. Sorry for the confusion!

[2021-06-25 23:28] #164 closed

[2021-06-26 04:11] cscalfani commented on #164
Thanks for doing this. This will help readers of my book.

[2021-06-26 09:03] wclr commented on #175
Also, there is a problem with `Node.Stream` write api, that it doesn't allow to handle errors: https://github.com/purescript-node/purescript-node-streams/issues/35

This would be really needed for the proper implementation of Server-Sent Events.

[2021-11-09 10:23] sigma-andex opened #179 "Add support for multiple request body formats"
Currently the request body is hard-wired to `String`, making it basically impossible to use httpure with binary data in requests (at least I don't know of any workaround).

Desired solution:
Make request body support different types.

I created PR #180 as an example of how this could be supported while maintaining the simplistic api instead of parametrising the request.

[2021-11-11 21:29] sigma-andex opened #182 "Simplify & update project setup"
Simplify and update project setup to use spago.

Related #181

[2021-11-14 09:00] #182 closed

[2021-11-16 04:03] #179 closed

[2021-11-16 04:03] #63 closed

[2021-11-29 14:57] arthurxavierx opened #186 "No 'Body' instance for 'Duplex' streams"
[`Duplex`](https://pursuit.purescript.org/packages/purescript-node-streams/5.0.0/docs/Node.Stream#t:Duplex) streams are, by definition, readable streams and, thus, should have an instance of the `Body` typeclass. This is useful for transforming readable streams before piping them to a HTTP response body.

[2021-12-02 05:48] boygao1992 opened #188 "Calling `HTTPure.Body.toString` multiple times on the same Readable stream blocks forever"
`body` was `String` in `Request` before `0.13.0` which could be consumed multiple times in different middlewares. After `0.13.0`, `body` is now `Readable ()` stream which cannot be cloned easily like a `String`, and if a stream is drained by a `HTTPure.Body.toString` once, the second `HTTPure.Body.toString` on the same stream will block forever. This can be verified in a simple test like the follo

[2021-12-03 00:48] cprussin commented on #188
Hmm this is interesting -- could be solved by changing the monad in which the request runs from just an `Aff` to a stack which includes `StateT`.  Any other ideas?

[2021-12-03 04:26] boygao1992 commented on #188
`StateT` is not reliable against runtime exceptions so I prefer `Ref`.

[2021-12-07 05:00] #188 closed

[2021-12-07 05:12] cprussin commented on #188
@boygao1992 published v0.14.0 containing this fix.  Thanks again for the contributions.

cc @sigma-andex

[2021-12-07 07:04] sigma-andex commented on #188
very cool! I'm wondering though, with this implementation it still wouldn't be possible to use the stream in the middleware  without consuming it entirely. Say I want to post a 100mb file and want to do some filtering, threat detection or whatever generalized in the middleware.

[2021-12-07 07:17] sigma-andex commented on #188
but yeah I guess in this case one could just pass the request with the filtered stream to the next  handler..

[2021-12-07 16:21] boygao1992 commented on #188
I know the PR I submitted only recovers the old behavior consuming body as a `String` which is probably 100% the case in my code base. It is still possible that one drains the stream with the `Readable` stream interface outsides `toBuffer`/`toString` which the `RequestBody` state doesn't track, thus future `toBuffer`/`toString` will block forever still. To properly handle the interactions around m

[2022-03-28 17:04] kee-oth opened #192 "Is HTTPure production ready?"
Hi!

I know HTTPure hasn't reached V1 yet but I was curious about the maintainers' view on using it in production applications. I have a startup that will be building out a web API and I'm interested in using a PureScript framework for the task. HTTPure _seems_ to be one of the more active projects in this space but I'd still like to double check the status of this project and how dedicated the cu

[2022-03-28 18:48] afcondon commented on #192
It's a very nice project - have you looked for a maintainer to hand it off to on PureScript Discourse/Discord?

Many thanks for writing it in the first place!

[2022-03-28 19:22] cprussin commented on #192
no I've not but that's a great idea, I'll post over there

[2022-03-28 19:30] cprussin commented on #192
here you go: https://discourse.purescript.org/t/looking-for-maintainers-for-httpure/2961

[2022-03-28 21:30] kee-oth commented on #192
@cprussin Thanks for letting the community know about your time constraints and inability to work on HTTPure! I wish I could take over this project but I'm very new to PureScript at the moment. Maybe if no one claims it in the next year or so... 😅

[2022-03-29 02:24] j-nava commented on #192
I use HTTPure very often and would not like to see it getting stale.
I can give it a shot maintaining it if no one else shows interest. At the very least I can find the time to keep it up-to-date, review PRs, and discuss the most important issues.

[2022-03-29 08:47] sigma-andex commented on #192
@j-nava I could give you a hand on keeping it up to date (especially for the 0.15 release) since I'm also using httpure quite extensively. Though I'd prefer not to be the main maintainer since I don't really have the time in pushing it forward.

[2022-03-29 13:39] j-nava commented on #192
@sigma-andex that's great to hear!
Yes, I'd rather have more of a supporting role if someone else would step up as a main maintainer, but I'm willing to try before seeing this nice project getting archived or having development completely halted.

[2022-03-29 19:44] cprussin commented on #192
Yeah, sounds good to me.  Whatever I can do to keep the project alive by the folks who care about it and get to use it, I'm happy to do.

[2022-03-30 12:18] sigma-andex commented on #192
We can also have a call in the discord one of these days if you want

[2022-03-31 18:15] cprussin commented on #192
I'm pleased to announce that [CitizenNet](https://www.citizennet.com/) has agreed to take ownership over httpure and drive continued maintenance.

I'm really excited about this change -- it will be great to get this project in the hands of a group of folks who use it professionally and in production.  I'm confident they'll be able to drive improvements in a way I'd never be able to keep up with.

[2022-03-31 18:15] #192 closed

[2022-03-31 18:50] JordanMartinez commented on #192
Just FYI. I believe this transfer will need an update in the registry repo for this package's URL. The corresponding files in the package set repo should also be updated.

[2022-05-06 01:21] thomashoneyman opened #196 "PureScript 0.15-compatible release."
`httpure` is now compatible with PureScript 0.15 via the changes in #194. I'd love to get `httpure` updated in the package sets, but that requires a new release of the library (0.15.0, I suppose). Is there anything waiting to be done before a release can be made? cc: @cprussin, @davezuch

[2022-05-06 03:44] cprussin commented on #196
@thomashoneyman apologies, [v0.15.0](https://github.com/citizennet/purescript-httpure/releases/tag/v0.15.0) has been tagged

[2022-05-06 03:44] #196 closed

[2022-05-06 03:46] cprussin commented on #196
also, can we just comment on how cool it is that the httpure v0.15.0 release is the one that aligns with purescript v0.15?

[2022-05-06 03:48] davezuch commented on #196
Lol I noticed that too.

[2022-06-02 16:48] #83 closed

[2022-06-02 17:03] citizengabe commented on #120
Closing for now. If someone encounters a problem that this could solve we can revisit.

[2022-06-02 17:03] citizengabe commented on #120
Closing for now. If someone encounters a problem that this could solve we can revisit.

[2022-06-02 17:03] #120 closed

[2022-06-02 17:17] citizengabe commented on #131
The middleware architecture could support this if the body was a concrete type instead of a typeclass as discussed in #115.

[2022-06-02 17:21] citizengabe commented on #139
Closing since this would be a breaking change. Also, any change to the underlying implementation would also be breaking in the future.

[2022-06-02 17:21] #139 closed

[2022-11-09 17:49] davezuch opened #198 "Parse cookies"
It might be useful to provide an API for reading parsed cookies from a request, and perhaps setting them as well.

[2022-11-17 19:02] #157 closed

[2022-11-25 16:03] amkhlv opened #200 "build errors"
`let upstream =
      https://github.com/purescript/package-sets/releases/download/psc-0.14.5-20220224/packages.dhall sha256:67cc3d4f0e8fb72bb1413ba94ddd72a3ceb0783eb725e3b22ad7568b3b581163

in  upstream
with httpure =
  { dependencies = [
      "aff"
    , "arrays"
    , "bifunctors"
    , "console"
    , "effect"
    , "either"
    , "foldable-traversable"
    , "foreign-object"
    , "js-uri"

[2022-11-28 14:47] arthurxavierx commented on #200
Hey @amkhlv! It would be nice to know more details about the error. I see that you're using `https://github.com/purescript/package-sets/releases/download/psc-0.14.5-20220224/packages.dhall` for your package set. As the name of the package set says, its packages are compatible with PureScript v0.14.5, whereas purescript-httpure v0.16.0 (which is the one you're overriding), is only compatible with P

[2022-11-28 14:47] #200 closed, assigned to nobody